body {
  background-color: grey;
}
hr {
  background-color: none;
  border-style: dotted none none;
  border-color: blue;
  border-width: 5px;
  width: 5%;

}
img {
  height: 60px;
}
h3 {
color: #66bfbf;
}
h1 {
  color: red;
}
